<br />
<div class="row">
  <div class="column">
    <table id="status">
      <tr>
        <th>Plant</th>
        <th></th>
      </tr>
      <tr>
        <td>Owner</td>
        <td>{{ plant.owner }}</td>
      </tr>
      <tr>
        <td>Family</td>
        <td>{{ plant.family }}</td>
      </tr>
      <tr>
        <td>Species</td>
        <td>{{ plant.species }}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>{{ plant.size }}</td>
      </tr>
      <tr>
        <td>Id</td>
        <td>{{ plant.size }}</td>
      </tr>
    </table>
  </div>
  <div class="column">
    <form [formGroup]="statusForm" (ngSubmit)="onSubmitStatus()">
      <table id="status">
        <tr>
          <th>Status</th>
          <th></th>
        </tr>
        <tr>
          <td>Alive</td>
          <td>
            <div
              *ngIf="
                edit === true;
                then thenEditAlive;
                else elseEditAlive
              "
            ></div>
            <ng-template #thenEditAlive>
              <label for="statusForm">
                <input
                  formControlName="isAlive"
                  type="checkbox"
                />
              </label>
            </ng-template>
            <ng-template #elseEditAlive>
              {{ plant.alive }}
            </ng-template>
          </td>
        </tr>
        <tr>
          <td>HP</td>
          <td>
            <div
              *ngIf="
                edit === true;
                then thenEditHP;
                else elseEditHP
              "
            ></div>
            <ng-template #thenEditHP>
              <label for="statusForm">
                <input formControlName="HP" type="number" />
              </label>
            </ng-template>
            <ng-template #elseEditHP>
              {{ plant.HP }}
              <span class="unit"> % </span>
            </ng-template>
          </td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>
            <div
              *ngIf="
                edit === true;
                then thenEditHumidity;
                else elseEditHumidity
              "
            ></div>
            <ng-template #thenEditHumidity>
              <label for="statusForm">
                <input
                  formControlName="humidity"
                  type="number"
                />
              </label>
            </ng-template>
            <ng-template #elseEditHumidity>
              {{ plant.humidity }}
              <span class="unit"> RH</span>
            </ng-template>
          </td>
        </tr>
        <tr>
          <td>Sunlight</td>
          <td>
            <div
              *ngIf="
                edit === true;
                then thenEditSun;
                else elseEditSun
              "
            ></div>
            <ng-template #thenEditSun>
              <label for="statusForm">
                <input
                  formControlName="sunlight"
                  type="number"
                />
              </label>
            </ng-template>
            <ng-template #elseEditSun>
              {{ getSunlight() }}
              <span class="unit"> </span>
            </ng-template>
          </td>
        </tr>
        <tr>
          <td>Mood</td>
          <td>
            {{ plant.mood }}
            <span class="unit"> </span>
          </td>
        </tr>
      </table>
      <div *ngIf="edit">
        <br />
        <button type="submit">Submit</button>
      </div>
    </form>
    <div *ngIf="!edit">
      <br />
      <button (click)="onEdit()">Edit</button>
    </div>
  </div>
  <div class="column">
    <img
      class="img"
      src="{{ plant.imgUrl }}"
      alt="{{ plant.imgText }}"
    />
  </div>
</div>
