<br />
<div class="row">
  <div class="column">
    <table id="status">
      <tr>
        <th>Plant</th>
        <th></th>
      </tr>
      <tr>
        <td>Owner</td>
        <td>{{ plant.owner }}</td>
      </tr>
      <tr>
        <td>Family</td>
        <td>{{ plant.family }}</td>
      </tr>
      <tr>
        <td>Species</td>
        <td>{{ plant.species }}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>{{ plant.size }}</td>
      </tr>
      <tr>
        <td>Id</td>
        <td>{{ plant.size }}</td>
      </tr>
    </table>
  </div>
  <div class="column">
    <table id="status">
      <tr>
        <th>Status</th>
        <th></th>
      </tr>
      <tr>
        <td>Alive</td>
        <td>{{ plant.alive }}</td>
      </tr>
      <tr>
        <td>HP</td>
        <td>
          {{ plant.HP }}
          <span class="unit"> % </span>
          <button (click)="addHP(10)">+</button>
          <button (click)="addHP(-10)">-</button>
        </td>
      </tr>

      <tr>
        <td>Humidity</td>
        <td>
          {{ plant.humidity }}
          <span class="unit"> RH</span>
        </td>
      </tr>
      <tr>
        <td>Sunlight</td>
        <td>
          {{ getSunlight() }}
          <span class="unit"> </span>
        </td>
      </tr>
      <tr>
        <td>Mood</td>
        <td>
          {{ plant.mood }}
          <span class="unit"> </span>
        </td>
      </tr>
    </table>
    <br />
    <div>
      <form
        [formGroup]="statusForm"
        (ngSubmit)="onSubmitStatus()"
      >
        <div>
          <label for="statusForm"
            >HP:
            <input
              id="HP"
              formControlName="HP"
              type="number"
              min="0"
              max="100"
              placeholder="HP"
            />
          </label>
        </div>
        <div>
          <label for="statusForm"
            >Humidity:
            <input
              id="humidity"
              formControlName="humidity"
              type="number"
              min="0"
              max="100"
              placeholder="humidity"
            />
          </label>
        </div>
        <div>
          <label for="statusForm"
            >Sunlight:
            <input
              id="sunlight"
              formControlName="sunlight"
              type="number"
              min="0"
              max="100"
              placeholder="sunlight"
            />
          </label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="column">
    <img
      class="img"
      src="{{ plant.imgUrl }}"
      alt="{{ plant.imgText }}"
    />
  </div>
</div>
