<button (click)="onClear()">Clear</button>
<button (click)="setMockPlants(true)">Use mock</button>
<button (click)="setMockPlants(false)">Delete mock</button>
<button (click)="addPlant()">Add Plant</button>
<div class="wrapper">
  <div *ngFor="let plant of plants">
    <div class="tooltip">
      <a class="link" routerLink="/profile/{{ plant.id }}">
        <h3 class="name">{{ plant.name }}: {{ plant.id }}</h3>
        <img
          class="img"
          src="{{ plant.imgUrl }}"
          alt="{{ plant.imgText }}"
        />
        <span class="tooltiptext">{{ plant.imgText }}</span>
      </a>
    </div>
    <button (click)="deletePlant(plant.id)">Delete</button>
  </div>
</div>
